* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: url("/static/Shine_BG_HighSpeed_Darkened.webp");
  background-size: cover;
  background-attachment: fixed;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}