* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: url("/static/redlight_a_night.png");
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
 
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
