* {
  margin: 0;

  // Makes element selection transparent on mobile
  -webkit-tap-highlight-color: transparent;
}

body {
  background: url("/static/redlight_a_night.webp");
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
 
  font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
}