* {
  margin: 0;
}

body {
  background: url("/static/highway_at_night_blurred.webp");
  background-color: black;
  background-size: cover;
  background-attachment: fixed;

  font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
}

@media screen and (max-width: 350px) 
{
   html, body {
    min-width: 350px;
  } 
}