.markdown {
    color: #fff;
}

.markdown :deep(img) {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.markdown :deep(pre) {
    overflow: auto;
    padding: 8px;
    border-radius: 4px;
    background-color: #82828240;
}

.markdown > :deep(*) {
    margin: 16px;
}

.markdown :deep(a) {
    color: $linkColor;
}

.markdown :deep(.no-underline) {
    text-decoration: none;
}

.markdown :deep(.meta-info) {
    color: #ccc;
    margin-bottom: 4px;
    text-align: end;
    font-size: 14px;
}