.notice {
    margin: 16px 0 16px 0;
    padding: 32px;
    border-radius: 16px;
    text-align: center;
    background-color: $backgroundColor;
}

.notice h1 {
    font-size: 48px;
    color: $titleColor;
}

.notice h2 {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.notice a {
    color: $linkColor;
}

.notice p {
    font-size: 24px;
    color: $commonColor;
}

@media screen and (max-width: 700px) {
    .notice {
        margin-left: 16px;
        margin-right: 16px;
    }

    .notice h1 {
        font-size: 40px;
    }

    .notice p {
        font-size: 16px;
    }
}